<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Story Jam: REVEAL &middot; Storytellers United</title>
    <!--  Essential META Tags -->
    <meta
      property="og:title"
      content="Story Jam REVEAL: The secret life of media"
    />
    <meta
      property="og:description"
      content="Make social impact with stories that connect at the intersection of storytelling and technology. Collaborate with storytellers from different disciplines. Develop innovative stories under healthy time pressure, with inspiring input and professional guidance."
    />
    <meta
      name="description"
      content="Make social impact with stories that connect at the intersection of storytelling and technology. Collaborate with storytellers from different disciplines. Develop innovative stories under healthy time pressure, with inspiring input and professional guidance."
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://storytellers.link/story-jam-reveal"
    />
    <meta
      property="og:image"
      content="https://storytellers.link/story-jam-reveal/img/story-jam-reveal.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <!--  Non-Essential, But Recommended -->
    <meta property="og:site_name" content="Storytellers United" />
    <meta name="twitter:image:alt" content="Story Jam: REVEAL" />
    <!-- Slack Unfurling -->
    <meta name="twitter:label1" value="Where" />
    <meta name="twitter:data1" value="Utrecht, the Netherlands" />
    <meta name="twitter:label2" value="When" />
    <meta name="twitter:data2" value="15 - 17 September 2023" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="./css/reveal.css" />
    <script src="./js/p5.min.js"></script>
    <script src="./js/reveal-sketch.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script
      src="https://unpkg.com/petite-vue@0.4.1/dist/petite-vue.iife.js"
      defer
      init
    ></script>

    <!-- <link
      rel="stylesheet"
      href="https://unpkg.com/photoswipe@5.2.2/dist/photoswipe.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css"
    /> -->
  </head>
  <body class="avenir bg-su-darker-blue white">
    <div class="pa3 pa4-m pa5-l">
      <header>
        <nav class="flex justify-between items-center">
          <a href="/">
            <img
              src="/img/logo-storytellersunited-200px.png"
              alt="Logo Storytellers United"
              class="mw3"
            />
          </a>
          <a
            class="no-underline f4 fw4 white br-pill ph3 pv2 bg-animate hover-bg-white-20"
            href="../../"
            >← back</a
          >
        </nav>
      </header>

      <section class="full-width h-500px tc">
        <canvas id="reveal-canvas"></canvas>
        <div class="absolute top-0 tc w-100 vcenter">
          <h1 class="f2 f1-ns hk-gothic ma0">
            Story Jam
          </h1>
          <h1 class="f1 f-headline-ns su-darker-blue hk-gothic ma0">REVEAL</h1>
          <h2 class="f3 f2-ns fw4 ma0 mb2 avenir">The secret life of media</h2>
          <img
            src="./img/part-of-nff.svg"
            alt="part of the Netherlands Film Festival"
            class="w4 w-auto-ns mb3"
          />
          <div class="f4 f3-ns mb3 hk-gothic">15 - 17 September 2023</div>
        </div>
      </section>

      <section class="tc">
        <div class="mb4">
          <a
            class="dib mh2 mv2 mv3-l bg-su-dark-orange no-underline white pv2 ph3 f4 f3-ns fw6 br3 boxshadow-hover"
            href="./apply/"
            >Apply by August <span style="text-decoration: line-through;">18</span> 22</a
          >
          <!-- <p class="f3 fw4">Applications now closed</p> -->
        </div>
        <nav class="f6">
          <span class="o-50">Jump to: </span>
          <ul class="list dib pa0 mt0">
            <!-- <li class="dib pa2">
              <a class="su-dark-orange" href="#prototypes"
                >Explore the prototypes</a
              >
            </li> -->
            <!-- <li class="dib pa2">
              <a class="su-dark-orange" href="#photos">Photo gallery</a>
            </li> -->
            <li class="dib pa2">
              <a class="su-dark-orange" href="#in-short">In short</a>
            </li>
            <li class="dib pa2">
              <a class="su-dark-orange" href="#whats-the-story"
                >What's the story?</a
              >
            </li>
            <li class="dib pa2">
              <a class="su-dark-orange" href="#with-whom">With whom?</a>
            </li>
            <li class="dib pa2">
              <a class="su-dark-orange" href="#take-part">Take part</a>
            </li>
            <li class="dib pa2">
              <a class="su-dark-orange" href="#where-and-when">Where & When?</a>
            </li>
            <li class="dib pa2">
              <a class="su-dark-orange" href="#previously">Previously</a>
            </li>
            <!-- <li class="dib pa2">
              <a class="su-dark-orange" href="#programme">Programme</a>
            </li> -->
            <li class="dib pa2">
              <a class="su-dark-orange" href="#mentors-and-speakers"
                >Mentors and Speakers</a
              >
            </li>
            <li class="dib pa2">
              <a class="su-dark-orange" href="#about-the-organisers"
                >About the organisers</a
              >
            </li>
          </ul>
        </nav>

        <div class="measure-wide tl center f4">
          <h2 class="mt5" id="in-short">In short</h2>
          <p>
            Join Story Jam REVEAL 15 - 17 September in Utrecht to:
          </p>
          <p>
            💪 Make social impact with stories that reveal, at the intersection
            of storytelling, media and technology.
          </p>
          <p>
            🎨 Collaborate with storytellers across different disciplines.
          </p>
          <p>
            🚀 Develop innovative stories under healthy time pressure, with
            inspiring input and professional guidance.
          </p>

          <h2 class="mt5" id="whats-the-story">What's the story?</h2>
          <p class="f3">
            On 15 - 17 September Storytellers United organises Story Jam:
            REVEAL, in cooperation with IMPAKT, Mezrab, the World Makers
            Foundation, Sound &amp; Vision and the Netherlands Film Festival.
            During three days, you work together in multidisciplinary teams
            under the guidance of mentors on new innovative story
            prototypes.&nbsp;
          </p>
          <p>The stories we will be developing are:</p>
          <ul>
            <li>
              <strong>Interdisciplinary</strong>: combining the various
              expertises that team members bring to the table.
            </li>
            <li>
              <strong>Innovative</strong>: experimental in the application of
              new technology and media for storytelling.
            </li>
            <li>
              <strong>Investigative</strong>: under the theme REVEAL: The secret
              life of media, we will explore how storytelling can act as a
              powerful tool to help uncover hidden structures behind the media
              we use every day.
            </li>
          </ul>
          <p>
            Projects developed at Story Jam cast a light on invisible technical
            and social processes that underlie the media landscape we are
            immersed in. Every project uses the medium that best suits the
            makers and their story, and could for example take the form of a web
            experience, but also be VR, performance, app or installation. After
            three days of working together, teams will share their results
            publicly during the Netherlands Film Festival Professionals
            Programme.
          </p>
          <!-- <p>
            See
            <a href="#programme" class="su-dark-orange no-underline"
              >an outline of the programme below</a
            >.
          </p> -->

          <h2 class="mt5" id="with-whom">With whom?</h2>
          <p>
            We warmly invite creatives of all professional backgrounds with an
            interest in innovative forms of storytelling to take part. Perhaps
            you do photography, develop websites, produce podcasts, make
            theatre, are into data visualisation, create immersive experiences
            in VR or AR, excel at designing user interfaces or you enjoy editing
            videos for online platforms. Whatever experience you bring, you
            certainly have an open mind and enjoy collaborating across
            disciplines.
          </p>

          <div class="mw9 center bg-su-dark-orange white br3 dib tc tl-l">
            <div
              class="flex justify-between items-center items-center-l flex-column flex-row-l"
            >
              <div class="pa3 ph4-ns">
                <h2 class="mv3">Like to connect?</h2>
                <p class="f5 measure">
                  Storytellers United is an international network of
                  professional storytellers across a wide range of backgrounds.
                  Curious to learn more about this event or other Storytellers
                  United activities?
                </p>
              </div>
              <div class="pa3 ph4-ns tc flex flex-wrap justify-center">
                <!-- <a
                  class="f5 fw6 grow no-underline br3 pv2 ph3 ma2 dib bg-white su-dark-orange"
                  href="https://medium.com/storytellers-united/everything-you-want-to-know-about-story-jam-reveal-a5a936d9c668"
                  target="_blank"
                  >Read more about the Story Jam</a
                > -->
                <a
                  class="f5 fw6 grow no-underline br3 pv2 ph3 ma2 dib white ba b--white bw1"
                  href="/invite"
                  target="_blank"
                  >Join us on Slack</a
                >
              </div>
            </div>
          </div>

          <h2 class="mt5" id="take-part">Take part</h2>
          <p>
            Would you like to join? Register before
            <span style="text-decoration: line-through;">18</span> 22
            August using the
            <a href="./apply" class="su-dark-orange no-underline"
              >application form</a
            >. The selection of participants will be announced no later than 25
            August. Participation is free of charge, catering will be provided.
          </p>
          <p>
            Teams will be carefully formed to ensure a variety of skills, based
            on the information submitted in applications. Applications are sent
            on an individual basis.
          </p>
          <p>
            You're warmly invited to bring project ideas into the co-creation
            process. Please keep in mind that each team will start with an
            ideation process to determine a focus that is shared by all team
            members. We ask you to have an open mind about the ideas you bring
            in and actively work to let them be enriched by new perspectives of
            others in your team.
          </p>

          <a
            class="dib mv2 mv3-l bg-su-dark-orange no-underline white pv2 ph3 f4 f3-ns fw6 br3 boxshadow-hover"
            href="./apply/"
            >Apply now</a
          >

          <h2 class="mt5" id="where-and-when">Where & When?</h2>
          <article>
            <h3 class="mb1">Open Call Launch</h3>
            <p>31 July, 17:00 - 18:30, Online. Watch the recordings below 👇.</p>

            <section class="full-width flex justify-around flex-wrap" >
              
              <iframe class="w-90 w-40-m w-20-l"
                src="https://player.vimeo.com/video/853808046?badge=0&title=1&byline=0&portrait=0&autopause=0&player_id=0&app_id=58479" width="480" height="270" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="Story Jam 2023 REVEAL - Intro and Partners"></iframe>

              <iframe class="w-90 w-40-m w-20-l"
                src="https://player.vimeo.com/video/853997060?badge=0&title=1&byline=0&portrait=0&autopause=0&player_id=0&app_id=58479" width="480" height="270" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="Pim Schachtschabel - Peek behind the curtain but no one is looking | Story Jam REVEAL lightning talk"></iframe>

              <iframe class="w-90 w-40-m w-20-l" 
                src="https://player.vimeo.com/video/853997219?badge=0&title=1&byline=0&portrait=0&autopause=0&player_id=0&app_id=58479" width="480" height="270" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="Dasha Ilina - Advice Well Taken: Folk tales of digital salvation | Story Jam REVEAL lightning talk"></iframe>

              <iframe class="w-90 w-40-m w-20-l" 
                src="https://player.vimeo.com/video/853997313?badge=0&title=1&byline=0&portrait=0&autopause=0&player_id=0&app_id=58479" width="480" height="270" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="Story Jam 2023 REVEAL - Lightning Talk 3 - Maf'j"></iframe>

            </section>
          </article>
          <article>
            <h3 class="mb1">Kick off event</h3>
            1 September, 17:00 - 20:00 <br />
            <a
              href="https://goo.gl/maps/DDVePMeZA1Lfdayt7"
              class="su-dark-orange no-underline"
              target="_blank"
              >Sound & Vision</a
            >, Hilversum
          </article>
          <article>
            <h3 class="mb1">Story Jam REVEAL: The secret life of media</h3>
            15 – 17 September, three full days (detailed programme
            forthcoming)<br />
            <a
              href="https://goo.gl/maps/qDBeZ2gfym3HrADi6"
              class="su-dark-orange no-underline"
              target="_blank"
              rel="noopener"
              >IMPAKT - Centre for Media Culture</a
            >, Utrecht
          </article>
          <article>
            <h3 class="mb1">Public Project Presentations</h3>
            24 September, 19:00 - 21:00<br />
            <a
              href="https://g.page/ssbutrecht?share"
              class="su-dark-orange no-underline"
              target="_blank"
              >Hekman Foyer, Stadsschouwburg</a
            >, Utrecht <br />
            All welcome, bring your friends!
          </article>

          <!-- <h2 class="mt5" id="programme">Programme</h2>
          <p>Below is a rough outline of the programme, subject to change.</p>
          <p>
            👉 Have a look at
            <a href="./programme/" class="su-dark-orange">the full programme</a>
            for more details.
          </p>
          <h4>Mon 19 Sept</h4>
          <ul class="f5">
            <li>Walk in, breakfast, coffee &amp; tea</li>
            <li>Welcome, introduction and goal setting</li>
            <li>Brainstorm in teams: Discover insights into the problem</li>
            <li>Lunch</li>
            <li>Brainstorm in teams: Define the area to focus on</li>
            <li>
              PPP stand-up: teams give a short 2 min update on Progress,
              Problems &amp; Plans. Other teams can be asked for input and offer
              feedback.
            </li>
            <li>End of day goal: a clear concept carried by the entire team</li>
          </ul>
          <h4>Tue 20 Sept</h4>
          <ul class="f5">
            <li>Walk in, breakfast, coffee &amp; tea</li>
            <li>
              Working in teams: Develop potential solutionsIdeally the clear
              concept enables teams to divide work. Some participants are
              designing, others are out recording, others are developing.
            </li>
            <li>Lunch</li>
            <li>Working in teams: Deliver solutions that work</li>
            <li>
              PPP stand-up: teams give a short 2 min update on Progress,
              Problems &amp; Plans. Other teams can be asked for input and offer
              feedback.
            </li>
            <li>
              End of day goal: a first prototype (think hacky solutions, duct
              tape, placeholder content)
            </li>
          </ul>
          <h4>Wed 21 Sept</h4>
          <ul class="f5">
            <li>Walk in, breakfast, coffee &amp; tea</li>
            <li>Working in teams: Develop &amp; Deliver iteration</li>
            <li>Lunch</li>
            <li>Finishing touches</li>
            <li>Internal demo to other teams: tell the story!</li>
            <li>
              End of day goal: a working prototype demoed in front of a live
              audience
            </li>
          </ul>
          <h4>Thu 22 Sept</h4>
          <ul class="f5">
            <li>
              Opening
              <a
                href="https://www.filmfestival.nl/en/event/storyspace/"
                class="su-dark-orange no-underline"
                target="_blank"
                >NFF Storyspace</a
              >
            </li>
          </ul>
          <h4>Fri 23 Sept</h4>
          <ul class="f5">
            <li>
              <a
                href="https://www.filmfestival.nl/en/professionals/nff-conferentie/"
                class="su-dark-orange no-underline"
                target="_blank"
                >NFF Professionals conference</a
              >
            </li>
          </ul>
          <h4>Sat 24 Sept</h4>
          <ul class="f5">
            <li>
              <a
                href="https://www.filmfestival.nl/en/festival-2/nff-digitale-cultuur/"
                class="su-dark-orange no-underline"
                target="_blank"
                >Presentations Gouden Kalf Digital Culture</a
              >
            </li>
            <li>
              Public Presentations & Live Demos Story Jam <br />
              15:00 - 17:00,
              <a
                href="https://g.page/ssbutrecht?share"
                class="su-dark-orange no-underline"
                target="_blank"
                >Hekman Foyer, Stadsschouwburg</a
              >, Utrecht <br />All welcome, bring your friends!
            </li>
          </ul> -->

          <h2 class="mt5" id="previously">Previously</h2>
          <p>
            Story Jam is a series of co-creative storytelling workshops, running
            since 2013 across Europe including London, Paris, Berlin, Barcelona
            and Dublin.
          </p>
          <p>
            See what we got up to at the 2022 edition
            <a
              href="https://storytellers.link/events/story-jam-new-neighbours/"
              class="su-dark-orange no-underline"
              >Story Jam: New Neighbours</a
            >
            in the video below.
          </p>
          <div class="mw8 center">
            <div style="padding:56.25% 0 0 0;position:relative;">
              <iframe
                src="https://player.vimeo.com/video/768693318?h=5fffe6bb47&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479&amp;color=F4A726&amp;title=0&amp;byline=0&amp;portrait=0"
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen
                style="position:absolute;top:0;left:0;width:100%;height:100%;"
                title="Story Jam: New Neighbours"
              ></iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>
          </div>

          <h2 class="mt5" id="mentors-and-speakers">Mentors and Speakers</h2>
          <p>
            During the Story Jam and the preceding Open Call Launch and Kick Off
            events, you are supported by a team of mentors and speakers who
            bring a diverse range of experience. More mentors and speakers will
            be announced in the run-up to the event.
          </p>
          <div
            class="full-width pa3 pa4-m pa5-l flex justify-center flex-wrap f5"
            v-scope="{ mentors: [
          {
            name: 'Ian Forrester',
            title: `<a href=https://cubicgarden.com/ target=_blank class=su-dark-orange no-underline>Senior Firestarter, BBC R&D</a>`,
            image: './img/pic-ian-forrester.jpg',
            bio: `<p>Ian Forrester is a well known character on the digital scene in the UK and Europe. Living in Manchester, UK, he works for the BBC’s R&D Future Experiences team. He specialises in open innovation and new disruptive opportunities; by creating value with open engagement and collaborations with start-ups, universities and early adopters.</p>`,
          },
          {
            name: 'Daniela Tenenbaum',
            title: `<a href=https://www.linkedin.com/in/daniela-tenenbaum-3190831b8/ target=_blank class=su-dark-orange no-underline>Curator, Researcher</a>`,
            image: './img/pic-daniela-tenenbaum.jpg',
            bio: `<p>Daniela Tenenbaum is an Amsterdam-based researcher and curator. Her research focuses on the intersection of societal engagement and cultural work, and the complex histories and futures of Western cultural institutions. Tenenbaum completed her bachelor’s degree in art history and communication at the Freie Universität, Berlin. She received her master’s degree from Utrecht University in Arts and Society. In her studies, and later at her work at the Research Center for Material Culture in Leiden, she researched the role Rapid Response Collecting can play as a catalyst in the promotion of notions of democracy and social equality within museums.</p>`,
          },
          {
            name: 'Abdo Hassan',
            title: `<a href=https://www.linkedin.com/in/abdelrahman-hassan-a49a942b/ target=_blank class=su-dark-orange no-underline>Digital Ethics and Responsible AI at IKEA, Founder/Creative Technologist at Critical Tech</a>`,
            image: './img/pic-abdo-hassan.jpg',
            bio: `<p>Abdelrahman (Abdo) Hassan is a creative technologist, AI strategist, Digital Anthropologist, and Poet based in Amsterdam. Currently working as a Digital Ethicist and Responsible AI Specialist at IKEA; He lives at the intersection of software, critical theory, data, and poetry.  He has led many initiatives across industry, academia culture, and civil society to help build power-sensitive critical literacy of technological progress, In his latest project Everyday Data (H)activism, he explores the idea of joyful resistance through a community lead practice.</p>`,
          },
          {
            name: 'Maf’j Alvarez',
            title: `<a href=http://www.limbicfish.net/ target=_blank class=su-dark-orange no-underline>Digital media artist, creative technologist</a>`,
            image: './img/pic-mafj-alvarez.jpg',
            bio: `<p>Maf’j Alvarez is a digital media artist and creative technologist living in Brighton, UK. Her work focuses on ecology, cultural and gender diversity in relation to open access to technology. She also works as a user experience designer on large-scale digital transformation projects for government services. She has been a resident artist at Fusebox Brighton since 2017, where she began working with virtual reality using Unity3d. She has helped other women learn VR through hack days, mentoring, talks, and collaborations.</p>`,
          },
          {
            name: 'Pim Schachtschabel',
            title: `<a href=https://www.pimschachtschabel.com/ target=_blank class=su-dark-orange no-underline>Experience designer</a>`,
            image: './img/pic-pim-schachtschabel.jpg',
            bio: `<p>Pim Schachtschabel is an entrepreneur, experience designer, and community organizer. With a background in Architecture Engineering and Arts, he is deeply intrigued by human behavior and perception. Utilizing storytelling and human-centered design, Pim co-founded Sherlocked, the #1 Escape-room & experience design company, exploring the fusion of digital and physical worlds for immersive storytelling. As a co-founder and experience consultant at Wilddineren, he celebrates and redefines the dining ritual through art and design. Pim's passion for bringing creators together led him to initiate the international community Stone Soup, fostering innovative experiences through collaboration.</p>`,
          },
          {
            name: 'Dasha Ilina',
            title: `<a href=http://dashailina.com/ target=_blank class=su-dark-orange no-underline>Techno-critical artist</a>`,
            image: './img/pic-dasha-ilina.jpg',
            bio: `<p>Dasha Ilina is a Russian techno-critical artist based in Paris, France. Through the employment of low-tech and DIY approaches, her work questions the desire to incorporate modern technology into our daily lives by highlighting the implications of actually doing so. Her practice engages the public in order to facilitate a space for the development of critical thought regarding social imperatives for care of oneself and others, privacy in the digital age, and the reflexive contemporary urge to turn to technology for answers. She is the founder of the Center for Technological Pain, a project that proposes DIY solutions to health problems caused by digital technologies for which she has received an Honorary Mention at Ars Electronica. She is also the co-director of NØ SCHOOL, a summer school that focuses on critical research around the social and environmental impacts of information and communication technologies.</p>`,
          },
          {
            name: 'Ann Cassano',
            title: `<a href=http://www.theworldmakers.org/ target=_blank class=su-dark-orange no-underline>Co-founder The World Makers Foundation</a>`,
            image: './img/pic-ann-cassano.jpg',
            bio: `<p>Ann Cassano has a background in psychology and cultural anthropology. Since 2008 she has worked on asylum issues, alongside refugees. She is a certified facilitator in Lewis-Deep Democracy and Theory U, and she has read a lot on design thinking and system innovation. In 2019, together with friends, she started The World Makers Foundation, a community of artisans with a minority background. They build upon the diversity of creative talent, skills and heritage newcomers bring with them and provide a platform for their work. They collaborate with local artists and designers. They use the aesthethic force of art and design as a means to connect people and build community. Otherwise Ann reads, writes, and dances flamenco. She is captivated by the art of failure, and by mending.</p>`,
          },
          {
            name: 'Sahand Sahebdivani',
            title: `<a href=https://www.sahebdivani.com/ target=_blank class=su-dark-orange no-underline>Founder Mezrab Storytelling School &amp; Mezrab Cultural Center</a>`,
            image: './img/pic-sahand-sahebdivani.jpg',
            bio: `<p>Sahand was born in Iran and raised in the Netherlands where he studied storytelling, screenplay writing and music. Since 2004 he operates the <a href='https://mezrab.nl/' target='_blank' class='su-dark-orange no-underline'>Mezrab Cultural Centre</a>, a renowned centre for storytelling and other arts. He’s worked both in Dutch and Persian language media as a writer and programme maker on a variety of cultural, social and political issues. When he’s not in Amsterdam he’s touring the world with his band, his story shows and/or his storytelling workshops.</p>`,
          },
          {
            name: 'Klasien van de Zandschulp',
            title: `<a href=https://www.klasien.nl/ target=_blank class=su-dark-orange no-underline>Interactive artist &amp; designer</a>`,
            image: './img/pic-klasien-van-de-zandschulp.jpg',
            bio: `
              <p>Klasien is an Amsterdam-based interactive artist and creative director at studio <a href='https://www.affectlab.org/' target='_blank' class='su-dark-orange no-underline'>affect lab</a>. She designs story-based and participatory experiences, blending digital/physical and online/offline interactions. Her work explores sensory design, embodiment, rituals, augmented realities, human interaction and (radical) thoughts around our daily technology consumption.</p>
              <p>In collaboration with <a href='https://emiliebaltz.com/' target='_blank' class='su-dark-orange no-underline'>Emilie Baltz</a> she created the futuristic cooking show called '<a href='https://www.klasien.nl/futurist-cookbook' target='_blank' class='su-dark-orange no-underline'>EAT TECH KITCHEN</a>' (winner IDFA Doclab Immersive Non-Fiction Award 2018) and in collaboration with Natalie Dixon she created '<a href='https://www.goodneighbours.net/' target='_blank' class='su-dark-orange no-underline'>Good Neighbours</a>': an interactive performance about intimate surveillance and the micro-politics of neighbourhoods (winner Dutch Design Award 2022, nominated for Gouden Kalf Digitale Cultuur 2022). During the recent lockdown she created '<a href='https://distancedisco.nl/' target='_blank' class='su-dark-orange no-underline'>DISTANCE DISCO</a>', a virtual dancefloor for techno romances!</p>
            `,
          },
        ]}"
          >
            <article
              v-for="mentor in mentors"
              class="w-100 w-50-m w-third-l mw6 tc pv2 pa2-sm pa3-m pa4-l"
            >
              <img
                :src="mentor.image"
                class="br-100 h4 w4 dib"
                style="object-fit: cover;"
                :alt="mentor.name"
              />
              <h1 class="f3 mb2">{{mentor.name}}</h1>
              <h2
                v-html="mentor.title"
                class="f5 fw4 gray mt0 su-dark-orange"
              ></h2>
              <div v-html="mentor.bio" class="tl"></div>
            </article>
          </div>

          <h2 class="mt5" id="about-the-organisers">About the organisers</h2>

          <div
            class="full-width pa3 pa4-m flex justify-center flex-wrap flex-nowrap-l f5"
            v-scope="{ organisers: [
          {
            name: 'Philo van Kemenade',
            title: `<a href='https://phivk.com/' target='_blank' class='su-dark-orange no-underline'>Cultural Technologist &amp; Community Organiser</a>`,
            image: 'https://phivk.com/bio/img/philo_van_kemenade.jpg',
            bio: `<p>Philo van Kemenade creates tools, stories and things in between to amplify human connection with arts and culture. He helps cultural heritage organisations innovate to make their digital collections more accessible. In 2013, Philo initiated the Storytellers United network to create space for interdisciplinary practice around innovative forms of storytelling. He has a background in Artificial Intelligence and Cognitive Science. Currently based in his home town Amsterdam, Philo has previously lived in Japan, the UK, Slovakia and Austria.</p>`,
          },
          {
            name: 'Paulien Dresscher',
            title: `<a href='http://www.dresscher.nl/' target='_blank' class='su-dark-orange no-underline'> Researcher &amp; Curator</a>`,
            image: './img/pic-paulien-dresscher.jpg',
            bio: `<p>Paulien Dresscher is working as a curator and researcher in the field of culture and digital media. For the Netherlands Film Festival she is organizing the Digital Culture Programme. She is living with her husband, daughter, cat and dog on a sailing ship in the center of Amsterdam and holds a Bachelor degree of Media and Fine Arts from Minerva Academy in Groningen, as well as both Master degree in New Media and Research Master degree in Media Studies from the University of Amsterdam.</p>`,
          },
        ]}"
          >
            <article
              v-for="organiser in organisers"
              class="w-100 w-50-m w-third-l mw6 tc pv2 pa2-sm pa3-m pa4-l"
            >
              <img
                :src="organiser.image"
                class="br-100 h4 w4 dib"
                style="object-fit: cover;"
                :alt="organiser.name"
              />
              <h1 class="f3 mb2">{{organiser.name}}</h1>
              <h2
                v-html="organiser.title"
                class="f5 fw4 gray mt0 su-dark-orange"
              ></h2>
              <div v-html="organiser.bio" class="tl"></div>
            </article>
          </div>

          <div
            class="full-width pa3 pa4-m flex justify-center flex-wrap f5"
            v-scope="{ partners: [
          {
            name: 'Storytellers United',
            image: './img/logo-su.png',
            bio: `<p class='f5'><a class='su-dark-orange hover-no-underline' href='https://storytellers.link/' target='_blank' rel='noopener'>Storytellers United</a> is an international network of media makers, technologists and designers interested in innovative forms of storytelling. Since 2013, SU has partnered with film festivals, universities and broadcasters to explore the future of storytelling in hands-on, multi-disciplinary sprints. These 'Story Jams' mix story, code and creativity with fun and community. Hailing from different time zones and professional backgrounds, members enjoy sharing via community channels: from upcoming events to ongoing projects and from useful tools to exciting opportunities.</p>`,
          },
          {
            name: 'Sound &amp; Vision',
            image: './img/logo-beng.png',
            bio: `
              <p class='f5'><a class='su-dark-orange hover-no-underline' href='https://www.beeldengeluid.nl/en'>Sound &amp; Vision</a> in Hilversum manages one of the world's largest digitised media archives for radio, television, YouTube videos, objects, written press, podcasts and games. They preserve the daily growing media collection as heritage for eternity. At the same time, they closely follow all movements in the global media landscape, including developments in the online and digital domain.</p>
              <p class='f5'>The starting point for all activities of Sound and Vision is the importance of free media for our democracy, to contribute to an open, free, inclusive and media-minded society. They illuminate current affairs from a media-historical perspective and show how you yourself can use media to tell your story, but they also show the influence of media on your personal life and on society. They do this in various ways: online and in the museums in Hilversum and The Hague, but also at partner locations. At schools, they offer a wide range of workshops on media literacy and they also stimulate academic and journalistic research. As an organisation or in cooperation with universities, festivals, organisations at home and abroad as well as relevant companies, they organise countless public activities, workshops, debates and lectures for young and old - and now also this Story Jam.</p>
            `,
          },
          {
            name: 'Netherlands Film Festival',
            image: './img/logo-nff.png',
            bio: `
              <p class='f5'><a class='su-dark-orange hover-no-underline' href='https://www.filmfestival.nl/' target='_blank' rel='noopener'>The Netherlands Film Festival</a> (NFF) is involved in this project as a platform. One of its pillars is the Digital Culture Programme. Like SU and parts of Beeld &amp; Geluid, this department focuses on the development of alternative forms of Storytelling, in which technology and new media play a role. It takes a critical look at the social impact and possibilities of technology and the opportunities this offers for new forms of storytelling. The target groups are festival visitors and filmmakers interested in innovation, as well as digital artists engaged in narrative productions.</p>
              <p class='f5'>By providing a venue for this Story Jam, NFF wants to give a new impulse to the professional field in the Netherlands. It wants to be an inspiring platform and stage for up-and-coming talent and inspire new makers by bringing in national and international experts and opening up new networks.</p>
            `,
          },
          {
            name: 'IMPAKT',
            image: './img/logo-impakt.png',
            bio: `
              <p class='f5'><a class='su-dark-orange hover-no-underline' href='https://impakt.nl/' target='_blank' rel='noopener'>IMPAKT</a> [Centre for Media Culture] is a media arts organization based in Utrecht and founded in 1988. It presents critical and creative views on contemporary media culture and arts, in an interdisciplinary context. Their aim is to identify urgent issues in our digital and transglobal culture, by focusing on the relationship between society, media, technology and arts. IMPAKT examines issues around politics, science and popular culture from different angles. They aim to present creative and innovative approaches and stir debates with critical ideas on common beliefs in society at large as well as towards dominant perceptions in arts and academia.</p>
            `,
          },
          {
            name: 'Mezrab',
            image: './img/logo-mezrab.jpg',
            bio: `
              <p class='f5'><a class='su-dark-orange hover-no-underline' href='https://mezrab.nl/' target='_blank' rel='noopener'>Mezrab</a> is an Amsterdam based platform for storytelling and an important initiator in the development of storytelling as an art form in the Netherlands. Mezrab serves as a source of inspiration for many theatres, centers, museums and festivals to program storytelling. Mezrab and storytelling in general has grown considerably in recent years and is gradually being incorporated into the professional performing Arts sector.</p>
            `,
          },
          {
            name: 'World Makers Foundation',
            image: './img/logo-world-makers-foundation.png',
            bio: `
              <p class='f5'>In 2017 Karim Adduchi and Ann Cassano worked together on a project to engage refugee and migrant artisans on Karim’s new collection ‘She Has 99 Names.’ Noticing the particular strengths and challenges of this group, they decided to take the project further. The result is <a class='su-dark-orange hover-no-underline' href='https://www.theworldmakers.org/' target='_blank' rel='noopener'>The World Makers Foundation</a>. The organisation supports refugee and migrant artisans, building upon the creativity and heritage they bring with them, and provide a platform for their skills. They collaborate with local, established artists and designers, as well as with cultural institutions. The foundation works with social designers and systemic-change practitioners, using fashion as a means to connect people and build community.</p>
            `,
          },
        ]}"
          >
            <article
              v-for="partner in partners"
              class="w-100 w-50-m w-third-l mw6 pv2 pa2-sm pa3-m pa4-l"
            >
              <h1 class="f3">{{partner.name}}</h1>
              <img
                class="mw3 mw4-l fl pa2 pa3-l"
                :src="partner.image"
                :alt="`logo ${partner.name}`"
              />
              <div v-html="partner.bio"></div>
            </article>
          </div>

          <h2 class="mt5" id="supported-by">Supported by</h2>
          <p class="f5">
            Story Jam REVEAL is made possible by a grant from the
            <a
              class="su-dark-orange hover-no-underline"
              href="https://www.stimuleringsfonds.nl/"
              target="_blank"
              rel="noopener"
              >Creative Industries Fund NL</a
            >.
          </p>
        </div>
        <section
          class="full-width flex flex-wrap justify-around items-center pv5 mt5 bg-white"
          v-scope="{ partners: [
          {
            name: 'Storytellers United',
            image: './img/logo-su.png',
          },
          {
            name: 'Sound &amp; Vision',
            image: './img/logo-beng.png',
          },
          {
            name: 'Netherlands Film Festival',
            image: './img/logo-nff.png',
          },
          {
            name: 'IMPAKT',
            image: './img/logo-impakt.png',
          },
          {
            name: 'Mezrab',
            image: './img/logo-mezrab.jpg',
          },
          {
            name: 'World Makers Foundation',
            image: './img/logo-world-makers-foundation.png',
          },
        ]}"
        >
          <div class="mw4 ma3" v-for="partner in partners">
            <img
              class="maxh4"
              :src="partner.image"
              :alt="`logo ${partner.name}`"
            />
          </div>
        </section>
      </section>
    </div>
    <footer id="join-the-conversation" class="pa3 pa4-m pa5-l white tc">
      <div class="flex flex-wrap flex justify-center">
        <article class="w-50 w-25-m w-auto-l tc pa3 pa5-l">
          <a
            href="/invite"
            class="link white dim"
            data-goatcounter-click="conversation-slack"
          >
            <i class="w3 h3" data-feather="slack"></i>
            <h3>Slack</h3>
          </a>
        </article>
        <article class="w-50 w-25-m w-auto-l tc pa3 pa5-l">
          <a
            href="https://twitter.com/storyunite"
            class="link white dim"
            target="_blank"
            data-goatcounter-click="conversation-twitter"
          >
            <i class="w3 h3" data-feather="twitter"></i>
            <h3>Twitter</h3>
          </a>
        </article>
        <article class="w-50 w-25-m w-auto-l tc pa3 pa5-l">
          <a
            href="https://medium.com/storytellers-united"
            class="link white dim"
            target="_blank"
            data-goatcounter-click="conversation-medium"
          >
            <i class="w3 h3" data-feather="edit-3"></i>
            <h3>Medium</h3>
          </a>
        </article>
        <article class="w-50 w-25-m w-auto-l tc pa3 pa5-l">
          <a
            href=" mailto:hello@storytellers.link?subject=Storytellers%20United&body=Hi!%0D%0A%0D%0AI%20came%20across%20the%20Storytellers%20United%20page%2C%20and%20thought%20... "
            class="link white dim"
            target="_blank"
            data-goatcounter-click="conversation-Email us"
          >
            <i class="w3 h3" data-feather="mail"></i>
            <h3>Email us</h3>
          </a>
        </article>
      </div>
      <div class="mt5 f6">
        <a
          class="dib white hover-no-underline mr3 mr4-m mr5-l mb3"
          href="/calendar"
          >Community Calendar</a
        >
        <a
          class="dib white hover-no-underline mr3 mr4-m mr5-l mb3"
          href="/participation-guidelines"
          >Participation Guidelines</a
        >
        <a
          class="dib white hover-no-underline mr3 mr4-m mr5-l mb3"
          href="/feedback"
          >Feedback &amp; Suggestions</a
        >
        <a
          class="dib white hover-no-underline mr3 mr4-m mr5-l mb3"
          href="https://gradu.al/storytellersunited/"
          target="_blank"
          >Gradual Skillsharing<i
            class="w1 v-mid pl1"
            data-feather="external-link"
          ></i
        ></a>
        <a
          class="dib white hover-no-underline mr3 mr4-m mr5-l mb3"
          href="https://github.com/storytellersunited"
          target="_blank"
          >GitHub<i class="w1 v-mid pl1" data-feather="external-link"></i
        ></a>
      </div>
    </footer>
    <script>
      feather.replace();
    </script>
    <script
      data-goatcounter="https://storyunite.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
  </body>
</html>
